.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100dvw;
    max-height: 100dvh;
    min-height: 100dvh;
    min-width: 100dvw;
    position: relative;
}
    .dragging-div {
        min-height: 70dvh;
        min-width: 70dvw;
        border: 2px solid #888;
        overflow: hidden;
        position: relative;
        
    }
        .dragging {
            border: 2px solid #d6aee2;
        }

        .drag-div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            border: 2px solid #888;
            font-weight: bold;

        }

            .drag-div:hover {
                border: 2px solid #d6aee2;
               
            }

            .dragging {
                border: 2px solid #d6aee2;
            }
            .tooltip{
                margin-top: 20px;
                height: 20px;
                width:200px;
                background-color: aqua;
            }
        
    
